[2022-02-07 09:42] MasonSuWei opened #287 "Can not log in local YMIR server"
Hello. First thanks for wonderful YMIR Project. I just install YMIR GUI on my computer, the app is running. But I can not log in the app after I enter the user name and password. Is there a way to debug the problem? For example log file or app output.

[2022-02-08 02:09] Aryalfrat commented on #287
Try this account please: https://github.com/IndustryEssentials/ymir/blob/master/.env#L10
And password: https://github.com/IndustryEssentials/ymir/blob/master/.env#L11
This is the default administrator account when first deployed, you can configure it in the environment variables. All other accounts you register need to be approved by the administrator account before you can log in.

[2022-02-08 07:30] MasonSuWei commented on #287
Hello, do I need to change the following variables in .env?
**APP_SECRET_KEY
APP_API_KEY**

After I use the following username and password, the app still do not let me in

FIRST_ADMIN=admin@example.com
FIRST_ADMIN_PASSWORD=12345678

**The following is request header**
POST /api/v1/auth/token HTTP/1.1
Host: 127.0.0.1:12001
Connection: keep-alive
Content-Length: 291
sec-ch-ua: "Chromium";v="92", "

[2022-02-08 09:26] Aryalfrat commented on #287
What is your startup method? Is it with docker compose or manually?
Can you give me your .env setup parameters please?

[2022-02-08 10:00] MasonSuWei commented on #287
I use the following cmd to start ymir.

sudo sh ymir.sh start

the following is the cmd's output.
Welcome to Ymir world.
ymir.sh: 84: ymir.sh: [[: not found
Would you allow YMIR to send us automatic reports helps us prioritize what to fix and improve in YMIR?
These reports can include things like task type, how much resources you’re using. NO personal information collected.
You choose (Y/n)?n
Usin

[2022-02-08 10:01] Aryalfrat commented on #287
Or you can join our SLACK, we will answer your questions in real time: https://join.slack.com/t/ymir-users/shared_invite/zt-ywephyib-ccghwp8vrd58d3u6zwtG3Q

[2022-02-08 13:11] phoenix-xhuang commented on #287
try to replace the LABEL_TOOL_URL LABEL_TOOL_PORT in your .env with real ip+port

[2022-02-09 02:09] #287 closed, assigned to Aryalfrat, Zhang-SJ930104

[2022-02-23 08:10] tolsicsse opened #324 "Running YMIR in WSL2 fails"
Hi
I fail to start YMIR on my windows PC using WSL2. I thinnk it is due to the docker compose is v2 but your code uses v1 (or something similar). See the execution trace below. I have checked that the Nvidia GPU drivers etc. are correctly installed.
/Tomas

Using default tag: latest
latest: Pulling from industryessentials/executor-det-yolov4-training
Digest: sha256:ab7fd377e7945ad668547921ee8b0ddd

[2022-02-23 08:26] tolsicsse commented on #324
I found this comment that might be a hint: https://github.com/docker/compose/issues/6691#issuecomment-514429646

[2022-02-23 08:58] under-chaos commented on #324
@tolsicsse  Could you please:
1, check docker compose version. Ymir needs [Docker Compose v1.27.0+](https://docs.docker.com/compose/gpu-support/)
2, check nvdia-docker. like `nvidia-docker image ls`

[2022-02-23 09:24] tolsicsse commented on #324
Docker Compose version v2.2.3

Yes I have the wrong version but  when I followed the instruction you linked to it was not possible to install any other version of docker composer. It is a little bit complicated with the integration between WSL2 and the windows docker desktop. How do I change the composer version?

[2022-02-23 10:01] under-chaos commented on #324
Because Ymir is currently only running in a Linux environment, so I check the doc, seems [Install Docker Desktop on Windows](https://docs.docker.com/desktop/windows/install/)  defatul is v2
The reason of the problem is [docker compose runtime](https://github.com/IndustryEssentials/ymir/blob/master/docker-compose.yml#L7), maybe you can:
1，check  [wsl gpu support doc](https://docs.docker.com/desktop

[2022-02-24 03:54] #324 closed, assigned to IJtLJZ8Rm4Yr, under-chaos

[2022-03-01 10:00] kk52099 opened #336 "Unable to terminate labeling task and fetch result dataset"
![image](https://user-images.githubusercontent.com/18585577/156147663-437de454-44d7-4a08-b8b0-92d615eebb3f.png)
点“终止”，没有任何效果

[2022-03-02 02:53] vs555 opened #338 "Failed to start a training task"
![image](https://user-images.githubusercontent.com/42991662/156285920-52a8d732-72a6-44af-b110-672f80cf82b8.png)

[2022-03-02 03:00] fenrir-z commented on #338
hello, i found error log here:
[code]
please confirm:
1. is this user in `docker` group?
2. is nvidia-docker installed?

[2022-03-02 07:22] phoenix-xhuang commented on #336
can you provide more context? e.g. controller.log errors under ymir-workplace/ymir-data/logs at your deploy environment.

[2022-03-04 02:56] phoenix-xhuang commented on #336
Here is a template to describe your issue

**Describe the issue**
A clear and concise description of what the bug is.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to ‘...’
2. Click on ‘....’
3. Scroll down to ‘....’
4. See error
**Expected behavior**
A clear and concise description of what you expected to happen.
**Screenshots**
If applicable, add screenshots to help explain your proble

[2022-03-04 03:19] #336 closed, assigned to under-chaos

[2022-05-09 07:20] huu3301 opened #616 "修改MYSQL_PASSWORD会导致初始化启动无法登录"
**Describe the bug**
在没有ymir-workplace的前提下（即第一次初始化启动的时候），修改.env的MYSQL_PASSWORD，会导致启动后无法登录admin那个账号，查找mysql数据库发现无任何数据表（尝试了很多次，不修改MYSQL_PASSWORD进行初始化登录就没这个问题）

**To Reproduce**
Steps to reproduce the behavior:
1. 删除ymir-workplace（如果有的话）
2. 修改.env的MYSQL_PASSWORD
3. 使用bash ymir.sh start 启动
4. 使用admin@example.com登录

顺便提一下：之所以会发现这个问题，是因为之前使用了旧版本的ymir，含有旧版本的数据，这次git pull更新代码后发现启动正常，但是使用标注数据-到标注平台注册账号（lab

[2022-05-09 09:10] #616 closed, assigned to nobody

[2022-05-11 08:46] ASentry opened #626 "目前不支持windows部署吗？"

[2022-05-11 08:49] phoenix-xhuang commented on #626
是的，系统并没有在windows下面做过完整功能测试，可能会有未知问题影响使用

[2022-05-11 08:49] #626 closed, assigned to Zhang-SJ930104

[2022-05-12 06:36] zhangchunsheng opened #631 "It can't pull industryessentials/executor-det-yolov4-training from aliyun mirror"
[code]

You can see that the layer 11323ed2c653 is Downloading, but can't find any thing to download.

[code]

It will pull again from docker hub. It will be very slow in China. Please provider another docker registry in China.

<img width="561" alt="image" src="https://user-images.githubusercontent.com/831839/168006737-ba4b9798-0335-4698-889d-2cd671b387be.png">

[2022-05-12 07:43] Zhang-SJ930104 commented on #631
You can use aliyun to pull images several times, because it may be affected by the transmission speed。
You can also refer to the link below to improve the speed。
https://yeasy.gitbook.io/docker_practice/install/mirror

[2022-05-12 10:15] zhangchunsheng opened #637 "The runc can't train data"
The runc can't train data, and there is no error in console.

<img width="1119" alt="image" src="https://user-images.githubusercontent.com/831839/168048300-3dde2e51-412a-4718-97dc-e880becc61b8.png">

[2022-05-12 12:11] phoenix-xhuang commented on #637
can you provide more infos? e.g. how many images in your train/val dataset, is there any overlap? What's the system log? (ymir-workplace/ymir-data/logs). Also, please fill the following template

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you e

[2022-05-12 12:11] #631 closed, assigned to Zhang-SJ930104

[2022-05-13 01:47] ChinaRush opened #639 "why my nvidia driver is broken"
**Describe the issue**
Error response from daemon: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error running hook #1: error running hook: exit status 1, stdout: , stderr: nvidia-container-cli: initialization error: nvml error: driver not loaded: unknown

**To Reproduce**
Steps to reproduce the behavior:

[2022-05-13 03:07] ChinaRush commented on #639
this error was fixed after reinstalling nvidia-driver

[2022-05-13 03:13] Zhang-SJ930104 commented on #639
OK.
If you still encounter this problem, you can ask us again.
If you encounter the same problem next time,you can give screenshots for .env file and docker-compose.yml file to help me troubleshoot problems.I want to confirm whether the configuration is correct according to the screenshot.
Thank you for try our service.

[2022-05-13 03:36] Zhang-SJ930104 commented on #637
Which data set do you use as the training set and test set？
Our training task will detect that the training set and the test set cannot contain the same image resources.
You can first check whether there are duplicates in the image resources of the dataset.

[2022-05-13 13:16] #639 closed, assigned to Zhang-SJ930104

[2022-05-14 07:28] ChinaRush opened #647 "label-free can't work"
**Describe the issue**
label-free can't work when i click the label

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Label'
2. Upload my dataset  (data.zip just contains 18 pictures)
3. See error

**Screenshots**

I want to label new image dataset, when I get the zip file uploaded, Ijust 18 pictures, it has loaded nearly one day with nothing . But I have import a dataset with 1k pictur

[2022-05-14 09:44] ChinaRush commented on #647
I have tried another tool Label Studio, and it works well.

[2022-05-15 02:51] phoenix-xhuang commented on #647
@yance-dev

[2022-05-15 03:01] yance-dev commented on #647
@ChinaRush We have fix this. plz  do this in your ymir dir:

[code]

[2022-05-16 02:18] #647 closed, assigned to nobody

[2022-05-16 02:18] #637 closed, assigned to Zhang-SJ930104

[2022-05-16 06:22] shenwenshi opened #657 "ARM Rebuild"
1、cd ymir/backend/src/ymir_app/deploy/redis
2、docker build -t industryessentials/ymir-backend-redis -f Dockerfile .

after rebuilding ,run the bash ymir.sh start
loging:
standard_init_linux.go:219: exec user process caused: exec format error

[2022-05-16 06:29] phoenix-xhuang commented on #657
check https://stackoverflow.com/questions/42494853/standard-init-linux-go178-exec-user-process-caused-exec-format-error

[2022-05-16 06:43] shenwenshi commented on #657
uname -a
Linux nvidia-desktop 4.9.201-tegra #1 SMP PREEMPT Fri Jul 9 08:56:59 PDT 2021 aarch64 aarch64 aarch64 GNU/Linux

[2022-05-16 07:03] phoenix-xhuang commented on #657
check the previous stackoverflow link:

# Build for ARM64 (default)
docker build -t <image-name>:<version>-arm64 .

# Build for ARM64
docker build --platform=linux/arm64 -t <image-name>:<version>-arm64 .

# Build for AMD64
docker build --platform=linux/amd64 -t <image-name>:<version>-amd64 .

[2022-05-16 12:02] shenwenshi opened #661 "upload file error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. ready source images
2. include annotations
3. zip one files
4. upload

**Expected behavior**
there are seventy files
but there is empty

[2022-05-16 12:13] phoenix-xhuang commented on #661
could you provide an example file that failed to be uploaded?

[2022-05-16 12:46] shenwenshi commented on #661
how uploaded the example file?

[2022-05-16 13:55] #657 closed, assigned to Zhang-SJ930104

[2022-05-17 02:34] #661 closed, assigned to nobody

[2022-05-17 05:59] stubbornrock opened #669 "Support cluster mode to deploy ?"
**Support cluster mode to deploy ?**
I've deployed and test, It's very cool，But I have multiple GPU nodes. Do we support cluster mode to deploy?
If not,  We plan to support it?

[2022-05-17 06:40] phoenix-xhuang commented on #669
we are planning to add support for distributing training task to remote GPU machine in next Major version.

[2022-05-17 06:52] stubbornrock commented on #669
ok，thanks, When do we plan to release the next major version？

[2022-05-17 06:57] phoenix-xhuang commented on #669
June, probably.

[2022-05-17 07:49] stubbornrock commented on #669
ok，thanks

[2022-05-17 07:49] #669 closed, assigned to Zhang-SJ930104

[2022-05-18 01:39] ChinaRush commented on #338
@fenrir-z hi, I meet the same error, and my log is:

ERROR   : [20220518-01:37:13] app.py:59:handle_exception(): (['git', 'rev-parse', 't000000200001257c83b1652837818@t000000200001257c83b1652837818:tasks.mir'], 128, b"fatal: Invalid object name 't000000200001257c83b1652837818@t000000200001257c83b1652837818'.", b't000000200001257c83b1652837818@t000000200001257c83b1652837818:tasks.mir')
Traceback (m

[2022-05-23 03:20] phoenix-xhuang commented on #338
Merge error happened in training task means there are conflict between training/validation dataset. Some of the test examples may already exist in training dataset. Please double check before proceed.

Tip: to exclude training samples from test dataset,
1. try a data process task (预处理),
2. choose test dataset,
3. exclude training dataset
 The result dataset will remove all examples belonging to tr

[2022-05-23 13:27] #338 closed, assigned to nobody

[2022-05-25 05:26] Sn34931 opened #692 "RC_CMD_ERROR_UNKNOWN: unkown error"
my ymir service is running in a virtual machine， when I train the model, it prompts an error
<html><body>
<div class="ant-card-head"><div class="ant-card-head-wrapper"><div class="ant-card-head-title"><div class="ant-row" style="row-gap: 0px;"><div style="flex: 1 1 auto;" class="ant-col">model_group_23 &gt; Train</div><div class="ant-col"></div></div></div></div></div><div class="content___3L-NX">

[2022-05-25 06:21] phoenix-xhuang commented on #692
check the executor log under ymir-workplace/sandbox/TaskTypeTraining/<your task>/

[2022-05-25 06:35] Sn34931 commented on #692
thanks, the log content is as follows :

t0000001000005256d3f1653449534	1653449536.268425	1.00	4	169999	[Errno 13] Permission denied: 'nvidia-docker'
cmd exception: Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/mir/tools/command_run_in_out.py", line 95, in wrapper
    ret = f(mir_root=mir_root, src_revs=src_revs, dst_rev=dst_rev, work_dir=work_dir, *args, **kwar

[2022-05-25 06:40] phoenix-xhuang commented on #692
possible issue:
1.nivida-docker was not properly installed, try "nvidia-docker" and fix any issue promoted.
2.run "bash ymir.sh" with sudo (which is not recommended): solution https://www.linuxlinks.com/getting-started-docker-run-docker-without-sudo/

[2022-05-25 07:47] Sn34931 commented on #692
thanks, the problem fixed

[2022-05-25 07:47] #692 closed, assigned to Zhang-SJ930104

[2022-05-26 03:00] WellWang-S opened #693 "cmd版数据导入失败"
按照现在的教程，cmd版labels文件放在mir_demo_repo下，但实际操作会报错，repo is dirty
![image](https://user-images.githubusercontent.com/58695014/170406959-79b29212-5374-406b-bc57-a448cee339f8.png)
没有labels文件的话，又识别不到标签，
![image](https://user-images.githubusercontent.com/58695014/170407130-3616b923-5dcd-46d6-8e84-9227f2862d68.png)

[2022-05-26 03:25] phoenix-xhuang commented on #693
destination path is: your-mir-repo/.mir/labels.yaml

[2022-05-26 03:44] ChinaRush opened #696 "Database Error"
label-free can't load dataset
![Screenshot from 2022-05-26 11-30-25](https://user-images.githubusercontent.com/39917677/170411440-ecdab94f-d40d-4753-b052-10f54d635ede.png)

[2022-05-26 04:00] yance-dev commented on #696
@ChinaRush
plz check `LABEL_TOOL_HOST_IP` in your .env was set as your hostip：`192.168.0.107`

[2022-05-26 05:38] #693 closed, assigned to Zhang-SJ930104

[2022-05-26 06:16] ChinaRush commented on #696
yeah, I only modified the LABEL_TOOL_HOST_IP in .env
`LABEL_TOOL_HOST_IP=http://192.168.0.107`

[2022-05-26 06:23] ChinaRush commented on #696
label-free can work normally before , I just delete the whole ymir directory and I  pull it from github again
`git clone https://github.com/IndustryEssentials/ymir.git` to get the latest , this happened.

[2022-05-26 06:29] yance-dev commented on #696
you may need to get latest images by this:

[code]

[2022-05-26 06:52] ChinaRush commented on #696
It doesn't work.

[2022-05-26 06:59] yance-dev commented on #696
plz show me the log in `${YMIR_PATH}/labelfree/backend_log`

or try to delete the whole ymir directory again to re-install

[2022-05-26 08:03] ChinaRush commented on #696
I reinstalled and get the same error

2022-05-26 08:03:22 [30] [INFO] url=http://label_api:5001/api/projects?page=1&page_size=12&project_name=&cloud=0||method=GET||headers=Host=label_api:5001||Connection=close||Accept=application/json, text/plain, */*||Authorization=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTY1MzU0NzI0NCwianRpIjoiYjE5MTg2ZDItZTQzNy00NWVmLWJmYTMtM2RkM

[2022-05-26 08:22] yance-dev commented on #696
plz make sure you reinstall ymir by this:
[code]

[2022-05-26 09:21] ChinaRush commented on #696
yeah, it works. another error appeared as mentioned in #647 ，Perhaps a recent update has affected the stability of the system.
![Screenshot from 2022-05-26 17-15-26](https://user-images.githubusercontent.com/39917677/170458030-06b857ed-f94f-4721-bae3-416e886f8d12.png)

[2022-05-27 06:20] #696 closed, assigned to Zhang-SJ930104

[2022-05-27 07:52] zane-x opened #701 "install failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone the repo
2. checkout to the tag of release-1.0.0
3. run the shell script by "bash ymir.sh start"
4. give me an error message like this screen

![d00b05b68f9ae9385137f18da43bb24](https://user-images.githubusercontent.com/93561716/170654564-3352e7b2-7b00-4948-9b4e-

[2022-05-27 08:39] phoenix-xhuang commented on #701
update docker-compose to version 1.29.2 or higher

[2022-05-28 03:09] #701 closed, assigned to nobody

[2022-05-30 09:42] Sn34931 opened #705 "GPU not recognized"
**Describe the issue**
GPU not recognized

**To Reproduce**
1、YMIR：
![ymir](https://user-images.githubusercontent.com/101860899/170964743-c5ebc3f3-0471-47b7-95ce-22ee1f06bad8.PNG)

2、Nvidia Info

![nmsi](https://user-images.githubusercontent.com/101860899/170964725-7c261eb0-4b32-4163-bfbc-a33706b05eb8.PNG)
![nver](https://user-images.githubusercontent.com/101860899/170964737-2d40d20b-d6f0-4ee9-a14

[2022-05-31 01:15] Zhang-SJ930104 commented on #705
Because the training task needs to occupy more GPU memory, we have set the default that a single GPU will not be available if it occupies more than 30%.
You can try to reduce the GPU memory to less than 20% and try again.
Thank you for your feedback!

[2022-05-31 02:08] CatchBeliF-TAT opened #707 "Permission denied: 'nvidia-docker'"
<img width="793" alt="WechatIMG316" src="https://user-images.githubusercontent.com/88470384/171078881-ad9d5028-7340-40ca-8632-79cf9a67ad44.png">

[2022-05-31 02:10] CatchBeliF-TAT commented on #707
![WechatIMG319](https://user-images.githubusercontent.com/88470384/171079019-395dc358-04ac-46ab-a5e8-00130c5e3e85.jpeg)

[2022-05-31 02:31] Zhang-SJ930104 commented on #707
You can check whether you have permission to execute "nvidia-docker run".
It is recommended to check whether the current user has joined the docker group.
Thank you for your feedback!

[2022-05-31 05:31] Sn34931 commented on #705
thanks!

[2022-05-31 05:31] #705 closed, assigned to Zhang-SJ930104

[2022-06-01 01:14] Sn34931 opened #711 "Model Verification:docker images only had sample_image"
**Describe the issue**
Model Verification：docker images only had sample_image

**To Reproduce**
when I finished training the model(used yolov4) and wanted to verify it, the docker images only had samples

**Screenshots**
![111](https://user-images.githubusercontent.com/101860899/171308114-07c31309-4183-44b8-b2f2-283970273308.png)
![111](https://user-images.githubusercontent.com/101860899/171308520

[2022-06-01 02:08] Zhang-SJ930104 commented on #711
Because the type of image will be matched according to the task type.
If you want to perform mining, infer and model validation, you need to copy a mining image from the public image.
![image](https://user-images.githubusercontent.com/91466580/171313673-84f831f6-abeb-4e27-9855-971564964e2b.png)
Thank you for your feedback!

[2022-06-01 02:53] CatchBeliF-TAT commented on #707
Sorry to bother you again! We have followed your suggestions, in addition, we try to temporarily close selinux. The above methods still show ‘ Permission denied: 'nvidia-docker'
We want to ask again what is the problem with our deployment of Ymir？
Looking forward to your reply！

[2022-06-01 02:58] CatchBeliF-TAT commented on #707
We can use nvidia-docker to run the container.
<img width="1179" alt="wecom-temp-ea9d60186f6591f34034c5f097ce0234" src="https://user-images.githubusercontent.com/88470384/171318727-3f493566-e914-4695-81cb-63360b8bea65.png">
![image](https://user-images.githubusercontent.com/88470384/171318945-5609e748-ed26-4c96-9e16-d3df41970122.png)

[2022-06-01 03:18] CatchBeliF-TAT commented on #707
We have solved the above problems!
Thanks for your great work!

[2022-06-01 03:20] #707 closed, assigned to Zhang-SJ930104

[2022-06-01 05:38] Sn34931 commented on #711
thanks

[2022-06-01 05:38] #711 closed, assigned to Zhang-SJ930104

[2022-06-01 09:13] wuyuanmm opened #712 "ymir-workplace has no dir named "ymir-sharing", version Ymir-release-1.0.0"
thanks for your kind to release this funny project! I try to use ymir on my pc,and I success to launch ymir,but when I import voc2012, I don't find  "ymir-sharing", so I create it,and push voc2012 under this dir.  whatever I do, I don't import voc2012 dataset on ymir-gui.  Please help me, thanks!

[2022-06-01 09:18] CatchBeliF-TAT opened #713 "自制镜像相关问题"
1.我们成功启动了训练，但未在容器里找到in文件夹，我们想通过in文件夹里的配置去改写我们自己的镜像文件
2.我们想自制YOLOX相关的镜像，但YMIR页面启动训练时默认YOLOV4,darknet的，能方便咨询一下这部分前端后端的代码在哪改写
谢谢！
<img width="806" alt="image" src="https://user-images.githubusercontent.com/88470384/171370687-31b055a6-39d3-4a0d-b643-1491d412ca09.png">
<img width="1164" alt="image" src="https://user-images.githubusercontent.com/88470384/171370704-481c308f-d3c3-43f5-a406-bfdd37411ad6.pn

[2022-06-01 09:23] Zhang-SJ930104 commented on #712
Path defaults is under the path of your service "ymir-workplace/ymir-sharing".
For detailed operation instructions, you can browse our README.md.
Thank you for your feedback.

[2022-06-01 09:29] fenrir-z commented on #713
如果有自制镜像（假设 docker image tag 是 docker_image:mine），可以使用下述流程导入 ymir 系统：
1. 使用超级管理员登录，进入镜像管理
2. 在此页面导入 docker_image:mine
3. 其他用户在训练/挖掘/推理任务的启动页面的镜像选择下拉框就可以看到 docker_image:mine

[2022-06-01 09:29] phoenix-xhuang commented on #713
in目录对应的是ymir-workplace/sandbox/work_dir/TaskTypeTraining/T0XXXXX(Task_ID)/sub_task/T0XXXXX/in目录，可以先看下这个目录是否存在

[2022-06-01 09:36] CatchBeliF-TAT commented on #713
1.想问一下如果我们在这里导入了自制的镜像，但是我们担心上面第三个图中的算法框架仍无法选择，想先了解一下这部分的代码
<img width="1359" alt="image" src="https://user-images.githubusercontent.com/88470384/171374595-ec9d48c3-15e7-42e3-aa6f-1d2cd362db46.png">

2.我们在ymir-workplace/sandbox/work_dir/TaskTypeTraining/T0XXXXX(Task_ID)/sub_task/T0XXXXX底下只有out文件夹，但是目前训练还在进行，out里的文件（log,monitor.txt等)也在持续更新，这是什么原因？

[2022-06-01 09:43] wuyuanmm commented on #712
thank you for your replay, I read this README.md, but on my situation , I could not find ymir-sharing under ymir-workplace!

[2022-06-01 09:45] phoenix-xhuang commented on #713
1.没有影响，后续这个框架选项会去掉；
2.可以看下ymir-workplace/sandbox/work_dir/TaskTypeTraining/T0XXXXX(Task_ID)/in是否存在

[2022-06-01 09:48] phoenix-xhuang commented on #713
关于自制镜像，我们正在封装yolov5为YMIR的训练镜像，这个过程可供参考
https://github.com/IndustryEssentials/ymir-executor/pull/34

[2022-06-01 10:31] lxl0928 opened #714 "502 Bad Gateway (nginx/1.21.6)"
![image](https://user-images.githubusercontent.com/12816246/171384604-e2bf38b2-c686-4249-aca5-e9dba5fcd596.png)

走docker-compose的方式和走bash ymir.sh  start的方式，都报：502 Bad Gateway

版本：CommitID: 34aa07d94f74eab9a4df59c7bb2bd504b483e617

[2022-06-01 10:31] lxl0928 commented on #714
error log:

[code]

[2022-06-01 12:13] phoenix-xhuang commented on #714
后端还没起来，等一两分钟再试

[2022-06-01 12:14] phoenix-xhuang commented on #712
use ymir-workplace/importing-pic in version 1.0.0

[2022-06-01 12:15] amutong opened #715 "界面不能正常跳转"
一开始自己用test用户安装未成功，后来YMIR平台的技术人员远程帮忙用root用户安装，软件可以正常工作，非常感谢MIR平台的技术人员的支持。
因为是在笔记本上中起的虚拟机，虚拟机中再起的镜像，可能是由于虚拟机的非正常关机(笔记本没电了)，后来出现主界面能进去但不能正常使用的情况，咨询完平台的技术人员，解释可能是权限的问题，后自己重新选用test用户安装(清空了所有镜像，重新下载安装)，安装过程中除“ Found orphan containers (ymir-master_label_redis_1, ymir-master_label_api_1, ymir-master_label_minio_1, ymir-master_label_nginx_1, ymir-master_label_mysql_1, ymir-master_label_celery_worker_1) for

[2022-06-01 12:21] amutong commented on #715
<img width="956" alt="捕获3" src="https://user-images.githubusercontent.com/17424367/171403304-c9d49a5a-ee18-4c79-9368-f4063a68ca72.PNG">
<img width="921" alt="捕获2" src="https://user-images.githubusercontent.com/17424367/171403124-d3890d4d-7f85-4404-a95a-36ac1ab72f7b.PNG">
<img width="968" alt="捕获1" src="https://user-images.githubusercontent.com/17424367/171403135-3e489f21-e16b-4e0f-a20d-6bc4343dbb0

[2022-06-01 12:28] phoenix-xhuang commented on #715
打开开发者工具，看下前端有没有报错。没有的话，就强制刷新浏览器，不行就再清理下浏览器缓存

[2022-06-01 13:28] amutong commented on #715
Exception { name: "NS_ERROR_NOT_AVAILABLE", message: "", result: 2147746065, filename: "http://192.168.18.129:12001/7594.72aae6bc.async.js", lineNumber: 1, columnNumber: 0, data: null, stack: "c@http://192.168.18.129:12001/7594.72aae6bc.async.js:1:22141\nxn/<@http://192.168.18.129:12001/1210.35d8b14f.async.js:1:35085\nuc@http://192.168.18.129:12001/umi.f2500bfd.js:1:1262258\ne[60053]/t.unstable_ru

[2022-06-01 14:01] phoenix-xhuang commented on #715
docker ps
前后端服务有没有正常启动

[2022-06-02 01:46] CatchBeliF-TAT commented on #713
1.十分感谢，我们将参考您提供的自制镜像过程学习！
2.好像不存在ymir-workplace/sandbox/work_dir/TaskTypeTraining/T0XXXXX(Task_ID)/in文件夹
<img width="1068" alt="image" src="https://user-images.githubusercontent.com/88470384/171529577-44462177-a1bc-4c06-8c8d-3306261e45d2.png">

[2022-06-02 02:59] amutong commented on #715
<img width="985" alt="捕获5" src="https://user-images.githubusercontent.com/17424367/171543722-5ac1cdb0-17f3-4c81-b8f6-663127d112d7.PNG">

[2022-06-02 03:28] phoenix-xhuang commented on #715
可能是意外断电，造成工作环境问题，可以清理掉ymir-workplace目录，再重新启动（等待几分钟再打开前端）

[2022-06-02 03:29] phoenix-xhuang commented on #713
上面两级目录，不是在sub_task下面

[2022-06-02 03:53] CatchBeliF-TAT commented on #713
您好哦，两级目录下面只有out和sub_task文件夹诶，TaskTypeTraining底下两个文件内部都是只有out和sub_task

[2022-06-02 06:26] CatchBeliF-TAT commented on #713
您好，我们这边找到in文件夹了，在镜像industryessentials/executor-det-yolov4-training的容器root底下

[2022-06-02 06:52] amutong commented on #715
已清空ymir-workplace目录下的所有文件，一开始显示ymir-master_db_1容器不正常，重启了该容器，但界面依旧有文件，能登录，之前创建的示例工程也没有了 ，无法新建示例工程，标签管理页面无法添加标签

[2022-06-02 07:19] amutong commented on #715
先停止了所有容器docker stop ymir-master_label_redis_1  ymir-master_label_minio_1 ymir-master_label_celery_worker_1 ymir-master_label_mysql_1 ymir-master_label_api_1  ymir-master_label_nginx_1 ymir-master_db_1 ymir-master_tensorboard_1 ymir-master_clickhouse_1  ymir-master_redis_1 ymir-master_viz-redis_1 ymir-master_backend_1 ymir-master_web_1，然后删除了ymir-workplace目录下的所有文件(rm -rf *)，再重启上了上述所有容器docker start y

[2022-06-02 14:18] #712 closed, assigned to Zhang-SJ930104

[2022-06-02 14:18] #713 closed, assigned to Zhang-SJ930104

[2022-06-02 14:19] phoenix-xhuang commented on #713
任务结束后会自动清理，所以镜像外找不到

[2022-06-02 14:21] phoenix-xhuang commented on #715
不要直接操作docker stop/start。使用建议的docker-compose命令或者bash ymir.sh命令，不然缺乏环境设置

[2022-06-06 06:20] lxl0928 commented on #714
等了几天，还是报：502 Bad Gateway

[2022-06-06 08:41] #715 closed, assigned to Zhang-SJ930104

[2022-06-06 13:11] xueliang opened #720 "无法从界面正常跳转到标注系统label studio"
labelstudio已经正确配置并且启动了，docker ps结果正常。
从ymir的web界面，点击数据里面的 “跳转到标注平台”
![image](https://user-images.githubusercontent.com/1107853/172166772-019bad1a-fa7f-4353-8e40-480d89d0207b.png)
能够打开labelstudio，但是设置的token的无效，需要登陆。
登陆后重新点击 “跳转到标注平台”   而且labelstudio里面是空的，无法加载ymir平台上面的数据。
两个系统看起来是独立的。
![image](https://user-images.githubusercontent.com/1107853/172167220-2a797142-6581-41c9-9bfa-ac98ef0ef5a6.png)

[2022-06-06 14:47] phoenix-xhuang commented on #720
“设置的token的无效”，这里是什么意思？

[2022-06-07 08:13] huu3301 opened #721 "非常规操作下，一个不算bug的问题的建议"
描述：
在项目已有ymir-workplace的前提下（即项目已经有数据），移动整个ymir文件夹到其它路径下再部署（或重命名上一级文件夹），会导致所有新建数据集的预处理任务、标注任务均卡住为0%

步骤：
1、修改ymir上一级文件夹的路径/名字（ymir-workplace下的文件及其文件夹的所有者和权限保持与原来一致）
2、再部署
3、新建数据集预处理任务（如数据集采样）或标注任务

显示错误
ERROR   : [2022-06-07 03:07:11,538] Job "update_monitor_percent_log (trigger: interval[0:00:20], next run at: 2022-06-07 03:07:31 UTC)" raised an exception
Traceback (most recent call last):
  File

[2022-06-07 12:17] xueliang commented on #720
在env文件里面设置了token，我理解的应该是利用token可以直接登陆到labelstudio，不用再输入账号了。但设置了token后，点图1的链接，能够打开labelstudio，但是还需要输入账号才能进去。所以我觉得token设置无效。

[2022-06-07 13:35] phoenix-xhuang commented on #720
两个系统是独立的。token是为了让YMIR能够发布任务到labelstudio。

设置完成后，可以创建一个标注任务试试，成功的话就是正常运行

[2022-06-07 13:46] phoenix-xhuang commented on #721
感谢反馈

[2022-06-07 13:46] #721 closed, assigned to nobody

[2022-06-09 01:15] xueliang commented on #720
谢谢，那请问labelfree也是这样的吗？我试了labelfree，能正常进去了，但是里面的功能只有一个一键标注，但是项目列表是空的。没找到创建project的地方，也没有地方导出token, 导致用ymir.sh启动的时候，提示 “Label free's token is not set, expected format: Bearer xxxxx...”

![image](https://user-images.githubusercontent.com/1107853/172743445-a402b445-f169-4ae4-82f8-08639654e8b5.png)

[2022-06-09 01:27] phoenix-xhuang commented on #720
因为默认标注工具是labelfree，所以token是预先填好的，如果需要可以看下：
https://github.com/IndustryEssentials/ymir/blob/master/.env#L34

[2022-06-09 09:58] xueliang commented on #720
token改了后可以启动了，但是进去之后 跳转到标注平台的link没了

[2022-06-10 02:57] phoenix-xhuang commented on #720
把.env文件内容可以贴上来看下

[2022-06-10 05:48] skytodmoon commented on #287
Hello, guys, I met the same problem, any suggestions?
`# PATH
YMIR_PATH=${PWD}/ymir-workplace
BACKEND_SANDBOX_ROOT=${YMIR_PATH}/sandbox

# PORT
NGINX_PORT=12001

# API
APP_SECRET_KEY=replace_with_your_secret_key
PUBLIC_DATASET_OWNER=1
FIRST_ADMIN=admin@test.com
FIRST_ADMIN_PASSWORD=12345678
APP_API_KEY=replace_with_your_app_api_key
VIZ_TIMEOUT=30
REGISTRATION_NEEDS_APPROVAL=False

# Shared Image
W

[2022-06-10 15:32] ringwraith commented on #714
same error, no solutions?

[2022-06-11 02:23] phoenix-xhuang commented on #714
docker ps
check the status of backend/redis service

[2022-06-13 07:42] ChinaRush commented on #720
我也是无法正常跳转，我提出了issue #647 ,当时问题解决了，我可以正常跳转label-free标注图像，后面我重新拉取ymir项目，完成配置之后，label-free又出现了其他问题，比如 #696 ，还有内部错误, ***.env文件只修改了ip***
![Screenshot from 2022-06-13 15-41-02](https://user-images.githubusercontent.com/39917677/173304055-5ed64968-a951-4576-b406-eadd9c385062.png)

# label tool env
LABEL_TOOL=label_free
# Note format: LABEL_TOOL_HOST_IP=http(s)://(ip)
LABEL_TOOL_HOST_IP=http://0.0.0.0
LAB

[2022-06-13 11:47] yance-dev commented on #720
@ChinaRush 问题主要出在这里：
[code]

正如你所提到的你修改了.env文件只修改了ip。0.0.0.0在这里不会被认为是一个合法的ip。

请使用ifconfig命令查看服务器正常的IP地址，并填充在这里。

[2022-06-14 01:32] ChinaRush commented on #720
确实是这个问题，可以正常跳转了

[2022-06-14 09:53] wuyuanmm opened #748 "可以出一个ymir-gui如何导入自制镜像的文档吗？"
感觉有很多细节都不明白。自建的私有仓库一直无法导入，dockerhub上的公有仓库也无法导入，wuyuanmm1990/yolov5_docker:1.0。是有一些细节没注意到吗？

[2022-06-14 11:11] #720 closed, assigned to yance-dev

[2022-06-14 11:26] phoenix-xhuang commented on #748
你好，看了下你的镜像，导入不了是因为这里的文件没有设置
https://github.com/IndustryEssentials/ymir/blob/master/docs/ymir-cmd-container.md#3-%E9%95%9C%E5%83%8F%E8%87%AA%E5%B8%A6%E7%9A%84%E6%96%87%E4%BB%B6

YMIR GUI需要通过这里的约定来确定你的镜像是有哪些功能，可以添加一下

[2022-06-14 20:30] CatchBeliF-TAT opened #751 "关于LabelFree标注工具下载数据包出错问题"
您好，想问一下超过1000张的任务显示下载超时的解决方案，已经尝试重新拉取下label free的镜像，依旧没有解决。
1）docker-compose -f docker-compose.labelfree.yml pull
2）bash ymir.sh start
![WechatIMG402](https://user-images.githubusercontent.com/88470384/173681815-5ee82129-a08c-4237-acbe-6968096658d9.jpeg)
![Uploading WechatIMG648.jpeg…]()

[2022-06-14 20:31] CatchBeliF-TAT commented on #751
![WechatIMG648](https://user-images.githubusercontent.com/88470384/173683080-916b57ea-33f8-43b3-ab15-9372c6bcb123.jpeg)

[2022-06-15 05:18] skytodmoon opened #754 "Suggestion: need a better log monitor and log standard levels"
**Describe the issue**
Can't find the log file and check the problem quickly.

if something wrong, we need to find the current log at `ymir-workplace/sandbox/work_dir/TaskTypeTraining/{taskid}/sub_task/t0xxxxxxxx/out/ymir-executor-out.log`

And alos the log file is so large, may be something logs is not very helpful, suggest to add the log level control like `debug/error/info` etc.

[2022-06-15 06:18] wuyuanmm commented on #748
谢谢，确实是这样的，我解决了。

[2022-06-15 06:19] #748 closed, assigned to Zhang-SJ930104

[2022-06-20 02:18] phoenix-xhuang commented on #754
in next release, the tail N lines of executor-log will be added to tensorboard ui, kind of helpful at debugging.

the log level will be mainly depends on the implementation of docker images, feel free to change the code in ymir-executor repo and send pr.

[2022-06-20 02:19] #714 closed, assigned to Zhang-SJ930104

[2022-06-20 03:18] liuzz07 commented on #751
看镜像是最新的，但是代码似乎没有更新，最新镜像的timeout是60s，建议清空浏览器缓存并强制刷新后重试

[2022-06-20 06:50] CatchBeliF-TAT commented on #751
嗯嗯清空浏览器缓存，可以成功下载了，谢谢！

[2022-06-21 00:18] #751 closed, assigned to liuzz07

[2022-06-21 00:18] #754 closed, assigned to Zhang-SJ930104

[2022-06-21 01:20] skytodmoon opened #775 "无法连接到标注平台"
使用数据集，选择菜单栏标注按钮，输入邮箱，点击标注，标注平台获取不到任务，以下是报错。平台刚搭建好，是可用的，后面标注这块就不好使了。尝试了label_studio和label_free同样的现象。
`INFO    : [20220621-01:10:25] invoker_cmd_base.py:83:server_invoke():  request:
 {'user_id': '0001', 'repo_id': '000023', 'req_type': 1001, 'task_id': 't00000010000232949781655773825', 'task_parameters': '{"dataset_id": 125, "keywords": ["cat", "person"], "extra_url": null, "labellers": ["sunqi@tes

[2022-06-21 01:56] skytodmoon commented on #775
ufw enabled, may be some unknow port need to open. ufw disable is ok.

[2022-06-21 02:34] phoenix-xhuang commented on #775
need open label_tool_port in your .env file

[2022-06-21 06:41] CatchBeliF-TAT opened #777 "关于LabelFree数据标注平台标注完后下载VOC格式的包，其中xml内宽高和对应图片的尺寸对应不上"
![image](https://user-images.githubusercontent.com/88470384/174733723-51bdb589-810d-4e82-8964-f66260c5c6cc.png)

[2022-06-21 07:48] yance-dev commented on #777
@CatchBeliF-TAT 感谢反馈，我们已经找到问题的触发条件，将在下个版本对这个问题进行修复

[2022-06-27 06:34] #775 closed, assigned to yance-dev, liuzz07

[2022-06-30 00:20] zandb2009 opened #847 "点开镜像列表的公共镜像，提示分享镜像失败"
ymir_app.log中提示：
Traceback (most recent call last):
  File "/app/ymir_app/app/api/api_v1/endpoints/images.py", line 142, in get_shared_images
    shared_images = await get_shared_images_from_github(
  File "/usr/local/lib/python3.8/dist-packages/fastapi_cache/decorator.py", line 49, in inner
    ret = await func(*args, **kwargs)
  File "/app/ymir_app/app/api/api_v1/endpoints/images.py", line 154,

[2022-06-30 00:54] #847 closed, assigned to nobody

[2022-06-30 01:50] zandb2009 opened #848 "公共镜像复制到镜像列表时，一直转圈，日志文件里有错误信息"
公共镜像复制到镜像列表时，一直转圈，日志文件里有错误信息

**Desktop (please complete the following information):**
 - OS: ubuntu22.04
 - Docker version 20.10.17, build 100c701
 - Docker Compose version v2.5.1
 - Version ymir-release-1.0.0

ymir_controller.log日志：
INFO    : [20220630-01:40:36] invoker_cmd_base.py:83:server_invoke():  request:
 {'user_id': '0001', 'repo_id': '000000', 'req_type': 16, 'task_id': 't0000001000000a

[2022-06-30 05:51] Zhang-SJ930104 commented on #848
您检查一下您服务器的glibc的版本，看来应该是找不到glibc_2.32。

[2022-06-30 06:52] zandb2009 commented on #848
我服务器版本是ubuntu22.04
ldd (Ubuntu GLIBC 2.35-0ubuntu3) 2.35

是要换成 ubuntu18.04版本吗？

[2022-07-04 00:20] zandb2009 commented on #848
更换ubuntu20.04问题没有了。

[2022-07-04 00:20] #848 closed, assigned to Zhang-SJ930104

[2022-07-05 06:42] dapengyinyue opened #888 "gpu负载问题"
env：
  系统： ubuntu 20.04
  显卡：nvidia 2080ti 公版显卡

描述：
  在训练过程中，查看显卡占用信息 。只占用到gpu的一半资源。

<img width="561" alt="微信图片_20220705143754" src="https://user-images.githubusercontent.com/30375575/177265325-6d14a8c2-d003-4473-b780-e40672f14628.png">

需求：
  想满负荷GPU资源进行训练，如何配置?

[2022-07-06 01:56] #777 closed, assigned to yance-dev, Zhang-SJ930104

[2022-07-07 04:31] phoenix-xhuang commented on #888
batch可以调大一些

[2022-07-08 02:15] #888 closed, assigned to Zhang-SJ930104

[2022-07-09 01:21] zandb2009 opened #909 "训练一段时间后，中途失败了，显示未知错误"
[**Describe the bug**
训练一段时间后(大概一天左右)后失败了，显示未知错误
训练数据是2500张图片，测试数据是200张。
用的显卡是 RTX3050 8G  训练时修改过参数 batch 从64修改为16   图片尺寸参数从608----608修改为416----416

训练错误日志ymir-executor-out.log如下：
2022-07-07 04:35:28,817 - /darknet/train_watcher.py[line:43] - ERROR: error occured in handler: <function _DarknetTrainingHandler._on_best_weights_modified at 0x7ff41bca5830> and path: /out/models/yolov4_best.weights
Tra

[2022-07-09 02:20] phoenix-xhuang commented on #909
it seems an issue related to yolo module converting, try batch size of 64.

[2022-07-09 06:37] zandb2009 commented on #909
按你说的修改batch 为64后，尺寸还是修改416 我训练了一会，终止训练并要出结果。日志里还是报一样的错。是因为我的显卡 RTX3050 8G 有问题吗? 另外一台12G内存的显卡却可以跑出结果来。

[2022-07-11 07:17] phoenix-xhuang commented on #909
https://github.com/IndustryEssentials/ymir-executor#det-yolov4-training
看一下是不是cuda版本问题

[2022-07-11 09:22] zandb2009 commented on #909
docker里的cuda版本用的是拉下来的版本
95 -max_batches 20000 -dont_show
 CUDA-version: 10010 (11060), cuDNN: 7.6.5, CUDNN_HALF=1, GPU count: 1
 OpenCV version: 3.2.0
 CUDNN_HALF=1
 0 : compute_capability = 860, cudnn_half = 1, GPU: NVIDIA GeForce RTX 3050

CUDA 应该是10.01的版本；

我用命令nvidia-smi显示
 NVIDIA-SMI 510.73.05    Driver Version: 510.73.05    CUDA Version: 11.6

如何判断我CUDA版本是不是有问题呢？

[2022-07-12 03:45] phoenix-xhuang commented on #909
看上上面提供的链接，里面有提到30XX硬件在10版本的cuda下会有问题

[2022-07-13 00:32] zandb2009 commented on #909
是的，我用里面cuda11.2的Dockerfile打镜像验证可以了。谢谢！

[2022-07-13 00:32] #909 closed, assigned to nobody

[2022-07-18 08:18] alexw994 opened #930 "运行示例项目到标注这一步的时候，无法下载数据集"
minio提示文件不存在

![image](https://user-images.githubusercontent.com/37922390/179471301-eeebd97f-e461-436c-aae7-83cd1e61351b.png)

[2022-07-18 09:33] yance-dev commented on #930
@alexw994 麻烦提供一下label_worker的容器的日志，或者重新创建一个标注试试

找到对应的容器：
[code]

[2022-07-19 01:39] alexw994 commented on #930
@yance-dev 好像是我还没有开始标注，标注完就可以下载了

[2022-07-20 11:41] #930 closed, assigned to Zhang-SJ930104

[2022-07-26 09:12] changchun666666 opened #949 "模型训练报错,失败原因 CMD: 未知错误"
系统centos
t通过数据训练模型的时候一直报错,示例代码也一样,失败原因	CMD: 未知错误

[2022-07-26 23:36] phoenix-xhuang commented on #949
看下executor.log和controller.log

[2022-07-27 00:45] changchun666666 commented on #949
executor.log没找到

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "IndustryEssentials/ymir"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月27日(星期三) 上午7:36
***@***.***&gt;;
***@***.******@***.***&gt;;
主

[2022-07-27 00:47] changchun666666 commented on #949
我用的是虚拟机.是不是因为没有安装nvidia-docker而导致的错误

[2022-07-27 00:48] changchun666666 commented on #949
``
ERROR   : [20220726-09:41:04] utils.py:27:run_command(): run cmd error:
 stderr: Traceback (most recent call last):
  File "/usr/local/bin/mir", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.8/dist-packages/mir/main.py", line 19, in main
    return cmd.cmd_run()
  File "/usr/local/lib/python3.8/dist-packages/mir/tools/utils.py", line 27, in wrapper
    _ret = f(*args,

[2022-07-28 00:53] phoenix-xhuang commented on #949
看情况是nvidia-docker没有正确安装或者权限不够导致的

[2022-07-28 08:47] LSWmaker opened #955 "有删除数据或项目的按钮吗"
假如我不想要某一个项目、或者某一个数据集，那我要如何将它删除呢？

[2022-07-29 15:49] #949 closed, assigned to Zhang-SJ930104

[2022-07-29 15:51] phoenix-xhuang commented on #955
可以点击旁边的按钮进行隐藏

[2022-08-01 02:35] #955 closed, assigned to Zhang-SJ930104

[2022-08-02 05:53] zp1018 opened #966 "bash ymir.sh start"
ERROR: The Compose file './docker-compose.yml' is invalid because:
networks.ymirnetwork.ipam.config value Additional properties are not allowed ('gateway' was unexpected)
Unsupported config option for services.backend: 'runtime'

[2022-08-03 01:26] skytodmoon opened #972 "[Backend]tox error"
I want to modify some backend code, but it can't go ahead.
`===================================================== log end =====================================================
ERROR: could not install deps [-rrequirements.txt, -rrequirements-dev.txt]; v = InvocationError('/Users/xxx/Documents/code/ymir/ymir/backend/.tox/python/bin/python -m pip install -rrequirements.txt -rrequirements-dev.txt', 1

[2022-08-03 09:21] Zhang-SJ930104 commented on #966
Your docker-compose version  unsupport networks and runtime.
You can upgrade docker-compose. The recommended version is 1.29.2

[2022-08-03 09:33] fenrir-z commented on #972
tell us about what kind of operations you did

[2022-08-03 09:43] skytodmoon commented on #972
Just download code and execute tox

[2022-08-03 10:01] fenrir-z commented on #972
in which dir?

[2022-08-04 01:35] skytodmoon commented on #972
ymir/ymir/backend/

[2022-08-04 07:43] fenrir-z commented on #972
seems you are running it on your mac?
how about run it on ubuntu?

[2022-08-04 16:34] #966 closed, assigned to nobody

[2022-08-04 16:35] phoenix-xhuang commented on #972
https://github.com/IndustryEssentials/ymir/wiki/Build-and-deploy-YMIR-on-mac-laptop-(M1-chip)

guidance of how to build from source code on MacOs

[2022-08-05 02:33] skytodmoon commented on #972
Greate, I will work on coding with vim instead, hope someday  there will be a much more convienient way.

Greate, Thanks.

[2022-08-05 02:33] #972 closed, assigned to Zhang-SJ930104

[2022-08-05 09:26] zandb2009 opened #996 "大概什么时候发布1.2.0版本啊？"
大概什么时候发布1.2.0版本啊？

[2022-08-08 14:23] GallonDeng opened #1010 "only support object detection task?"
any plan about support more CV tasks other than object detection

[2022-08-09 22:46] phoenix-xhuang commented on #996
soon

[2022-08-10 01:35] phoenix-xhuang commented on #1010
planed later this year

[2022-08-13 08:07] #996 closed, assigned to Zhang-SJ930104

[2022-08-15 01:24] lzx13080010188 opened #1036 "能提供部署详细一点的文档，或者图片吗，部署有点问题呀！"

[2022-08-15 01:47] phoenix-xhuang commented on #1036
具体是遇到什么问题？

[2022-08-15 07:13] wangxy-hub commented on #1036
docker拉取镜像一直失败
{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":[{"Type":"repository","Class":"","Name":"industryessentials/executor-det-yolov4-training","Action":"pull"}]}]}

[2022-08-15 16:29] phoenix-xhuang commented on #1036
直接运行docker pull industryessentials/executor-det-yolov4-training成功吗？
这些镜像是在dockerhub的公共空间，不需要登陆验证的，你们是否有使用private docker registry？

[2022-08-17 06:53] Pillar1989 opened #1058 "微信二维码过期了"
如题，来个能用二维码 ？

[2022-08-17 07:42] lzx13080010188 commented on #1036
第一次启动，lable-free，没有选择None，之后一直启动失败

[2022-08-17 07:43] lzx13080010188 commented on #1036
readme中部署方面可以写详细一点吗？这样就可以好排查了

[2022-08-17 07:46] lzx13080010188 commented on #1036
label-free这个直接docker-compose部署吗？我看readme文档没有详细说明

[2022-08-17 08:43] Zhang-SJ930104 commented on #1036
你启动ymir.sh脚本，选择了label free之后应该会提示您没有配置host吧。
readme文档有告诉您如何配置标注对应的host
![image](https://user-images.githubusercontent.com/91466580/185075232-4217f8c9-e0fb-4471-a093-dd9fc399e060.png)

[2022-08-17 08:46] lzx13080010188 commented on #1036
我第二次启动ymir.sh，什么都没有提示了，直接启动失败，其实我不想配置label free，第二次启动没有提示选择label-free的这种提示，直接失败

[2022-08-17 08:48] Zhang-SJ930104 commented on #1036
您将.env文件里面的LABEL_TOOL的配置清空一下。然后再启动ymir.sh脚本就会重新询问你使用什么标注工具了

[2022-08-17 08:50] lzx13080010188 commented on #1036
感谢！就是要这个回答

[2022-08-17 09:20] Zhang-SJ930104 commented on #1058
您好。非常抱歉，您可以先使用微信号添加挖米匠的微信（微信号是：itsymir）
![image](https://user-images.githubusercontent.com/91466580/185083137-f20091f9-4b11-4b57-8aa5-7e3631e04d6b.png)

[2022-08-17 09:26] YiqinXu opened #1060 "GUI运行训练模型时，报错permission denied nvidia-docker"
如题，
按GUI部署步骤部署好后，web端能正常访问，数据集也可以成功导入。
但是开始训练模型时，提示失败，查看日志显示报错， permission denied nvidia-docker是什么原因呢。
报错如图所示，
![2AQgvPcwyV](https://user-images.githubusercontent.com/44312441/185084144-c583c53c-887c-4523-b1a5-0bac5da07d9f.jpg)

另外，
1. 新版本docker中，其实不用nvidia-docker命令了，用的是docker run --gpus all，目前该项目不支持这种模式吗？
2. 程序运行时，好像默认是用root用户，包括新建的文件夹写的日志啥的，都是root的，能否设置成为使用当前用户运行呢？
3. 我怎么导入自己的docker镜像到项目中呢，帮助文档里

[2022-08-17 09:34] fenrir-z commented on #1060
1. 看起来 nvidia-docker 没有执行权限
2. 现在并没有提供 docker run --gpus all 模式
3. 现在后台运行时，只能使用 root 权限运行
4. 有两篇文档可以满足你的要求，一个是 https://github.com/IndustryEssentials/ymir/blob/master/docs/ymir-cmd-container.md，另一个是 https://github.com/IndustryEssentials/ymir/tree/master/docker_executor/sample_executor

[2022-08-17 09:46] YiqinXu commented on #1060
我的系统没有装nvidia-docker，照理说报错应该是报command not found才对，但是上来就报没有权限...
不知道我装一个nvidia-docker能不能解决问题

[2022-08-17 09:47] fenrir-z commented on #1060
ls -lh `which nvidia-docker`
看一下显示的记录里面，你有没有 x 权限

[2022-08-17 09:49] YiqinXu commented on #1060
![image](https://user-images.githubusercontent.com/44312441/185089222-bd38b095-cd43-448a-960b-3bc95a8fb129.png)
我的系统没有安装nvidia-docker，应该不是权限问题。
所以使用该项目的requirement是不是得加一个必须安装nvidia-docker呀

[2022-08-17 09:54] fenrir-z commented on #1060
你用的是什么系统？

[2022-08-17 09:56] YiqinXu commented on #1060
Ubuntu 16.04

[2022-08-17 12:07] fenrir-z commented on #1060
应该不可能，至少 which 是内置的。

[2022-08-17 15:48] phoenix-xhuang commented on #1060
https://github.com/IndustryEssentials/ymir#21-environment-dependencies

里面有运行要求，可以看下

Docker installation:
Installation of Docker and Docker Compose https://docs.docker.com/get-docker/

Installation of NVIDIA Docker https://github.com/NVIDIA/nvidia-docker

[2022-08-17 17:42] #1010 closed, assigned to Zhang-SJ930104

[2022-08-17 17:42] #1036 closed, assigned to Zhang-SJ930104

[2022-08-18 02:55] YiqinXu commented on #1060
我看看，谢谢

[2022-08-18 03:45] YiqinXu commented on #1060
目前只支持使用YOLO v4吗？
如果我想要使用自己的网络来做目标检测，应该怎么配置呢

[2022-08-18 03:47] phoenix-xhuang commented on #1060
支持的镜像在这里都可以找到，也欢迎上传自己开发的训练镜像
https://github.com/IndustryEssentials/ymir/blob/master/docker_executor/public_index.md

[2022-08-18 03:50] YiqinXu commented on #1060
我添加了这些镜像，怎么才能让前台算法框架这里显示其他的这些呢。
![image](https://user-images.githubusercontent.com/44312441/185289342-aee853a9-da83-423f-ae0e-38bbcc9a0b8d.png)

[2022-08-18 05:41] YiqinXu commented on #1060
![image](https://user-images.githubusercontent.com/44312441/185302743-765f73e8-24ee-46f5-8286-76bb4a8264cf.png)
另外我pull了其他镜像，这里也暂时没有显示。
我的机器不能联网，所以是不是公共镜像也不可以用。

[2022-08-18 06:02] YiqinXu commented on #1060
![20220818-140022](https://user-images.githubusercontent.com/44312441/185305472-9f01f04f-1c29-49f7-abb4-e8ee80311aac.png)
另外，我想要进入官方的这个yolo4的镜像中查看/image-man目录，好像暂时也进不去

[2022-08-18 08:51] gitmhg opened #1066 "the number picture is 235,but label failed and number is None"
![image](https://user-images.githubusercontent.com/51695758/185353304-a27a685c-e793-4c10-add5-08291c430d2f.png)

[2022-08-19 12:05] fenrir-z commented on #1060
这个位置的文件，只有通过 ymir 启动训练任务的时候才会由系统生成并挂载进来

[2022-08-19 15:31] #1058 closed, assigned to nobody

[2022-08-20 18:28] phoenix-xhuang commented on #1066
Need more info, fill the issue form and logs would be helpful

**Describe the issue**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to h

[2022-08-22 02:46] YiqinXu commented on #1060
那怎么在前台界面添加新的镜像还有算法框架呢，离线的环境下。

[2022-08-22 05:01] phoenix-xhuang commented on #1060
https://docs.docker.com/engine/reference/commandline/load/

[2022-08-22 05:07] YiqinXu commented on #1060
镜像我load进我的环境了，我的意思是，前台页面了只显示了demo镜像，其他我load进来的都没有，是不是需要什么方法添加一下。
我load过镜像以后，前台界面里镜像还是只有这个。
![image](https://user-images.githubusercontent.com/44312441/185843426-326f20f5-d61f-480a-b5dd-d04361702c06.png)

[2022-08-22 05:45] phoenix-xhuang commented on #1060
用管理员帐号登录，才有权限添加镜像

系统配置 | 镜像管理 | 我的镜像 | 支持添加自定义镜像到系统中（仅管理员可用）

[2022-08-22 05:54] YiqinXu commented on #1060
管理员账号是啥呢，我看注册账号的时候不能选择注册管理员账号。

[2022-08-22 05:58] phoenix-xhuang commented on #1060
.env文件里面有管理员帐号，如果是多人使用注意保密，并在部署前修改

[2022-08-22 06:00] YiqinXu commented on #1060
好的，谢谢。
是哪个路径下的.dev文件，我目前只看到.env文件

[2022-08-22 06:05] phoenix-xhuang commented on #1060
对，.env typo

FIRST_ADMIN
FIRST_ADMIN_PASSWORD

[2022-08-22 06:20] YiqinXu commented on #1060
添加好了，谢谢。
但是我选择添加好的镜像，比如yolo5或者mmdection，算法框架还是只显示yolo4，这个应该怎么修改呢。
![image](https://user-images.githubusercontent.com/44312441/185852325-91a28071-ae90-4f31-82c8-06bc44947c6b.png)

[2022-08-22 06:21] phoenix-xhuang commented on #1060
算法框架不用管，这个没用，以后会去掉的

[2022-08-22 10:20] YiqinXu commented on #1060
好的，谢谢~
制作自己的镜像并接入YMIR，前面的文档写的有点没看懂，有没有具体的步骤呀

[2022-08-22 20:00] phoenix-xhuang commented on #1060
有两篇介绍文档：

https://github.com/IndustryEssentials/ymir/tree/master/docker_executor/sample_executor

https://github.com/IndustryEssentials/ymir/blob/master/docs/ymir-cmd-container.md

[2022-08-22 20:00] #1066 closed, assigned to Zhang-SJ930104

[2022-08-25 02:17] YiqinXu commented on #1060
好的，谢谢~

[2022-08-25 02:17] #1060 closed, assigned to Zhang-SJ930104

[2022-08-25 02:32] YiqinXu opened #1098 "尝试使用yolov4镜像推理时报错，以及使用其他公共镜像时，报错container error"
您好，

我目前碰到了两个问题，

1. 我的项目目前使用yolov4可以正常训练，模型训练好后，使用推理功能时，报错找不到result.yaml文件以及infer-result.json。
![image](https://user-images.githubusercontent.com/44312441/186559807-5113cc87-f36c-47e4-9f4b-8344a9a01957.png)

2. 在使用除yolov4以外的其他公共镜像比如yolov5，mmdet训练时，报错Error: Could not load UVM kernel module. Is nvidia-modprobe installed。但是我的nvidia-modporbe已经正确安装了
![image](https://user-images.githubusercontent.com/4

[2022-08-25 17:20] phoenix-xhuang commented on #1098
看上去还是权限问题，参见部署设置
https://github.com/IndustryEssentials/ymir#22-installation-of-ymir-gui
“It is recommended not to use the sudo command, otherwise it may cause insufficient privileges.”

[2022-08-25 17:21] phoenix-xhuang commented on #1098
前面一个推理问题，是不是本身没有推理结果输出？

[2022-08-26 05:25] YiqinXu commented on #1098
权限应该没问题，我部署和运行都没有用root用户，全程都是自己用户。

推理的话，我是web端实验的，就只是上传了图片，然后选择镜像，点击推理，然后卡了一会，日志里就输出了上面的报错信息。

[2022-08-26 05:38] phoenix-xhuang commented on #1098
看样子是没有输出结果，可以在截图地址找下镜像的log日志

[2022-08-26 05:43] YiqinXu commented on #1098
![image](https://user-images.githubusercontent.com/44312441/186830578-92ed8b01-6243-43ae-a801-9cd62df94366.png)
日志是这样的

[2022-08-26 05:49] phoenix-xhuang commented on #1098
看样子还是cuda安装问题

[2022-08-26 06:45] YiqinXu commented on #1098
我训练和推理都没有问题，用yolov4，就只有验证有这个错误，如果是cuda安装有问题的话，训练应该也会有问题才对呀，我网上看了这个问题的教程，这个文件我服务器上也是有的

[2022-08-26 07:22] yzbx commented on #1098
参考: https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html#docker
检查 nvidia-docker 是否安装好
[code]

[2022-08-26 07:38] YiqinXu commented on #1098
我用docker run --rm --gpus进入image的话就是好的，但是用nvidia-docker就有上面的问题，但是我看YMIR调用的还是nvidia-docker，是不是就代表着如果我要完全使用的话，版本啥的得完全和部署参考链接里的一致才行

[2022-08-26 08:00] yzbx commented on #1098
docker 与 nvidia-docker 都能正确运行
如果你本地的cuda版本为11.+, 那么最好采用cuda11.+的镜像.

报错的时候，请附上你的系统信息，docker 版本， 本地cuda版本及采用的镜像，出错信息等。
测试系统应该不需要安装nvidia-modprobe

![图片](https://user-images.githubusercontent.com/5005182/186853094-8ec83ab8-4baa-41e2-8a75-015c4db5f173.png)

[2022-08-26 08:15] YiqinXu commented on #1098
我的服务器是Ubuntu 16.04，cuda是10.2版本的。

出现cannotfind libcuda.so.1使用的镜像是
industryessentials/executor-det-yolov4-mining

出现nvidia-modprobe错误，使用的镜像是
youdaoyzbx/ymir-executor:ymir1.1.0-mmdet-cu102-tmi
youdaoyzbx/ymir-executor:ymir1.1.0-yolov5-cu102-tmi

[2022-08-26 08:25] yzbx commented on #1098
配置应该没问题，系统的cuda版本比较低，测试用低版本的镜像。
你显卡的版本是多少？如果是3080/3090 系列，需要安装cuda11以上版本。
还可以看下这个  https://github.com/NVIDIA/nvidia-docker/issues/319
[code]

[2022-08-26 08:34] YiqinXu commented on #1098
我的显卡是2080，所以10.2应该是没问题的。
 industryessentials/executor-det-yolov4-mining这个镜像不是针对10.2版本的吗
我在docker hub上暂时没有找到适配10.2，ymir1.1.0的yolov4测试镜像

[2022-08-26 08:35] yzbx commented on #1098
上面两个命令的输出发一下

[2022-08-26 08:53] YiqinXu commented on #1098
![image](https://user-images.githubusercontent.com/44312441/186866513-6773c1fa-d102-415c-be29-787e445b3c0b.png)
![image](https://user-images.githubusercontent.com/44312441/186866648-74c4c9a5-39e2-432b-8366-ad72f1fae0c0.png)

[2022-08-26 10:08] yzbx commented on #1098
主机 cuda10.2 可以运行10.1的镜像，看上去你使用的nvidia-docker没有问题，但不知为何这些镜像会报错。
放到dockerhub上的cuda101或cuda102镜像在安装cuda10.2的机器上测试过，都能正常运行。

你可以自己配一个简单的训练镜像看看cuda能不能在镜像中正常工作，目前的信息我无法判断出问题。

[2022-08-26 10:21] YiqinXu commented on #1098
好的，industryessentials/executor-det-yolov4-mining这个镜像，我如果用docker run --gpus all的方式进入，是可以找到libcuda.so.1这个文件的，但是如果使用nvidia-docker run 的方式就不行。

我先自己测试一下吧，有问题再来请教，谢谢

[2022-08-26 19:05] #1098 closed, assigned to Zhang-SJ930104

[2022-08-30 07:18] huahuaeshao opened #1109 "提供ymir开发者手册"
希望可以提供技术架构文档，以及ymir的大致设计方案
最好有文档可以指导怎么在ubuntu环境搭建本地可调试的ymir环境
方便代码爱好者更容易理解ymir

[2022-08-31 11:41] phoenix-xhuang commented on #1109
no plan to support this. feel free to post question here though.

[2022-08-31 11:42] phoenix-xhuang commented on #1109
will support developer in docker image developing, not in YMIR system developing.

[2022-09-02 13:34] #1109 closed, assigned to Zhang-SJ930104

[2022-09-21 07:19] huahuaeshao opened #1174 "viewer模块手动构建成功以后，出现数据集详情bug"
把viewer模块构建成功，但是在数据集详情点击查看页面接口会报500，但是我要是二次进入，或者点击页面上的随机页去刷新就会显示图片
![469ad9cf4ce97dd67e96e62e56411dd](https://user-images.githubusercontent.com/96853551/191439669-1362cc5c-d106-4280-9e66-9ec91051e22e.jpg)
![image](https://user-images.githubusercontent.com/96853551/191439868-7eb3a564-d171-4927-94e1-c0f7906bf70b.png)

[2022-09-21 07:36] phoenix-xhuang commented on #1174
viewer模块并没有发布

[2022-09-21 07:58] #1174 closed, assigned to nobody

[2022-09-30 05:24] Louis8582 opened #1214 "using bash ymir.sh start but isn't successful"
**Describe the issue**
My system is Windows 10 and already installed docker, wsl 2 and check using wsl2 to open docker. But when I go to next step "bash ymir.sh start", it downloaded something like yolo-mining-xxxx, then it closed by itself. I can't pick up the error by it's info.

**To Reproduce**
My installation step:
1. installed docker restart computer
2. installed wsl2 and set docker to use w

[2022-09-30 05:36] phoenix-xhuang commented on #1214
Need to provide labeling tool's ip address

[2022-09-30 08:21] Louis8582 commented on #1214
how to check labeling tool's IP ?   I tryed to set 192.168.1.101, but it said unsupport label tool
![image](https://user-images.githubusercontent.com/23739360/193226014-435b66fb-3248-4044-86e3-df2bfe98cb58.png)
do I need install this tool?

[2022-09-30 08:23] phoenix-xhuang commented on #1214
what's the value of LABEL_TOOL=? in .env

[2022-09-30 08:25] Louis8582 commented on #1214
nothing
![image](https://user-images.githubusercontent.com/23739360/193226647-43ae53ab-69ed-4866-b1fa-450e68c8fc51.png)

[2022-09-30 09:09] phoenix-xhuang commented on #1214
delete any space or tab after LABEL_TOOL=
it seems there is some unrecognized content there.
also, ymir is not fully tested on Windows platform. Suggest to use Linux.

[2022-09-30 09:32] Louis8582 commented on #1214
Got it, I will try on ubuntu 18. Thank's
BTW didn't have any char after the LABEL_TOOL=
so it's not work.

[2022-09-30 10:28] phoenix-xhuang commented on #1214
https://github.com/IndustryEssentials/ymir/blob/master/ymir.sh#L106
i doubt the above line will work on Windows.

on windows, instead of using ymir.sh, try "docker-compose -f docker-compose.yml down --remove-orphans  && docker-compose -f docker-compose.yml up -d" directly

[2022-10-01 07:05] #1214 closed, assigned to Zhang-SJ930104

[2022-10-11 08:19] xuhui1994 opened #1233 "关于在线的试用体验"
上个月我就申请了在线的体验版本，但是一直没收到试用的邮件信息，非常期待邮件，我的邮箱是978188311@qq.com，十分感谢

[2022-10-12 06:12] phoenix-xhuang commented on #1233
should have contacted you, let us know if any further question

[2022-10-12 06:12] #1233 closed, assigned to Aryalfrat

[2022-10-22 09:13] liyi93319 opened #1304 "`pip install ymir-cmd` causes "subprocess-exited-with-error""
**Describe the issue**
`pip install ymir-cmd` causes the following error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `pip install ymir-cmd`

**Expected behavior**
install ymir-cmd successfully

**Additional context**
Ubuntu 18.04.6 LTS
Python 3.10.8
pip 22.2.2

[2022-10-24 06:32] phoenix-xhuang commented on #1304
it's an error related to pip, seach "subprocess-exited-with-error pip" on Google

[2022-10-24 10:34] liyi93319 opened #1313 "Could someone give a sample dataset of classification for ymir?"
**Describe the issue**
I guess this is more like a tutorial request than an issue.

I'm trying to train a classification model for lego images though, I don't know the detailed format of the dataset for ymir.

**To Reproduce**
here is the file map in my test-dataset.zip

[code]

here is the contents of `ImageKey.xlsx`

![image](https://user-images.githubusercontent.com/43629316/197506899-ca206efb-

[2022-10-25 02:02] #1304 closed, assigned to Zhang-SJ930104

[2022-10-25 02:03] phoenix-xhuang commented on #1313
no roadmap to support classification for now

[2022-10-25 03:00] liyi93319 commented on #1313
Thanks for reply. Is it feasible to make my own ymir-executor to support classification?

[2022-10-25 06:24] phoenix-xhuang commented on #1313
should be feasible. treat classification as a detection task without bounding box (or whole image as boundingbox)

[2022-10-25 08:51] liyi93319 commented on #1313
With that idea, how should I organize my dataset folder?

Does the following directory structure compatible with ymir?

[code]

[2022-10-25 11:00] liyi93319 opened #1320 "`mir --version` causes "No module named '_ctypes'""
**Describe the issue**
I guess I've managed to install ymir command on my Ubuntu 18.04 with Python 3.9.15 since I got this log.

[code]

However, the `mir --version` command just gives "No module named '_ctypes'" error.

[code]

Am I missing something?

**To Reproduce**
Steps to reproduce the behavior:

[code]

[2022-10-27 07:53] phoenix-xhuang commented on #1313
the same, just treat it as detection task.

[2022-10-27 07:54] phoenix-xhuang commented on #1320
try python 3.8.10

[2022-10-27 11:08] liyi93319 commented on #1320
the same error

[code]

[2022-10-27 11:21] liyi93319 commented on #1313
Here is the content of `2007_000027.xml`

[code]

Is it recognizable to ymir? Is it enough for classification?

[2022-10-28 01:50] liyi93319 opened #1333 "How do I make a dataset recognizable to ymir?"
**Describe the issue**
I'm trying to begin my first training on ymir with `Sample.zip` that ymir provided.

**To Reproduce**
Steps to reproduce the behavior:
1. `bash ymir.sh start`
2. create a new project with labels "bowl, cat, cup, spoon"
3. download `sample_dataset.zip` from the "Import Dataset" page and then upload it back
4. examine the newly uploaded dataset

**Expected behavior**
there sho

[2022-10-28 07:41] phoenix-xhuang commented on #1313
it requires some coding work to YMIR system and docker executor. and we do not have any experience on this

[2022-10-28 07:58] fenrir-z commented on #1320
what's your system version?
do you have libffi-dev installed?

see also:
https://stackoverflow.com/questions/27022373/python3-importerror-no-module-named-ctypes-when-using-value-from-module-mul

[2022-10-28 08:40] fenrir-z commented on #1333
can not reproduce this issue on ubuntu 22.04.
what system you are using?

[2022-10-28 09:45] liyi93319 commented on #1333
Ubuntu 18.04, Docker version 20.10.20, build 9fdeb9c

[2022-10-28 10:04] liyi93319 commented on #1320
libffi-dev was the block, thanks to you, problem solved. appreciate it~

[2022-10-28 10:04] #1320 closed, assigned to Zhang-SJ930104

[2022-10-28 14:33] liyi93319 opened #1335 "Should `mir init` create labels.csv?"
**Describe the issue**
per doc https://github.com/IndustryEssentials/ymir#422-create-local-repo-and-import-data

`mir init` creates "labels.csv" though, it actually doesn't.

**To Reproduce**
Steps to reproduce the behavior:
1. `mkdir ~/mir-demo-repo && cd ~/mir-demo-repo`
2. `mir init`

**Expected behavior**
the file ~/mir-demo-repo/labels.csv exists

**Additional context**

[code]

[2022-10-28 22:37] liyi93319 commented on #1313
If I convert `2007_000027.xml` to the structure like this, will it be understandable to ymir?

[code]

[2022-10-29 09:23] GDbbq opened #1336 "拉取镜像训练的问题"
1： 想问下怎么修改代码，从现有的容器中直接进行训练？
2： 创建发布自己的镜像，有详细的教程吗？

[2022-10-30 10:37] liyi93319 commented on #1336
try this https://github.com/IndustryEssentials/ymir/tree/master/docker_executor/sample_executor

[2022-10-31 00:53] GDbbq commented on #1336
![image](https://user-images.githubusercontent.com/86715812/198910826-bcd37c94-d884-4201-b800-ab223cb2a196.png)
这个步骤实现的代码是哪里呢，我想更改现有的镜像拉取创建容器的方式，每次训练，只需启动现有的容器进行训练。

[2022-11-01 03:34] fenrir-z commented on #1335
it creates labels.yaml in .mir directory.

can you see that file?

[2022-11-01 03:40] fenrir-z commented on #1336
You can find code here
https://github.com/IndustryEssentials/ymir/tree/master/docker_executor/sample_executor/app

[2022-11-01 08:21] fenrir-z commented on #1333
i can not reproduce this issue.
can you show me your keyword list (you can access this list in `Keyword` bottom at top of your banner) and your project settings?

[2022-11-01 22:32] liyi93319 commented on #1335
yes, I see the file, here is the contents

[code]

[2022-11-01 22:45] liyi93319 commented on #1333
here it is.

![image](https://user-images.githubusercontent.com/43629316/199356011-8d22975d-0e82-4ec9-a2e5-3f841060365f.png)

![image](https://user-images.githubusercontent.com/43629316/199356685-9f7c44e8-7211-4119-bd81-43104f497ac4.png)

![image](https://user-images.githubusercontent.com/43629316/199356719-1ad431d0-8856-47e8-af00-096e28557298.png)

I'm using version 1.1.0.0517, I can replace it w

[2022-11-02 02:34] fenrir-z commented on #1335
ok, that's what your need.

if you want to add your own labels, you can edit this file, just like:

[code]

[2022-11-02 03:05] fenrir-z commented on #1333
really strange.

i can not reproduce this issue with both 1.1.0 and 2.0.0.

would you please try:

1. in your Import dataset page, confirm your `Labeling Status` is `Contains Annotations`
2. send me ymir_controller.log in `</path/to/ymir-workplace>/ymir-data/logs/ymir_controller.log`
3. find your repo in `</path/to/ymir-workplace>/sandbox/<your-user-id>/<your-repo-id>`, then `ls -l .mir`, and show

[2022-11-02 06:38] huahuaeshao opened #1342 "ymir的2.0版本为啥回退"
前几天基于ymir的master2.0版本在研究，今天发现master分支已经没有2.0版本的代码了

[2022-11-02 07:47] phoenix-xhuang commented on #1342
后续会发布

[2022-11-02 07:47] #1342 closed, assigned to Zhang-SJ930104

[2022-11-03 05:54] #1336 closed, assigned to Zhang-SJ930104

[2022-11-03 06:19] #1335 closed, assigned to Zhang-SJ930104

[2022-11-03 13:39] liyi93319 commented on #1333
Labeling Status is Contains Annotations.

![image](https://user-images.githubusercontent.com/43629316/199734138-053aab88-a15b-4c94-9c45-fd7f0b2c0232.png)

here is ymir_controller.log
[ymir_controller.log](https://github.com/IndustryEssentials/ymir/files/9929627/ymir_controller.log)

here is the directory structure in </path/to/ymir-workplace>/sandbox/
which one is <my-user-id> and <my-repo-id>?

[

[2022-11-03 14:15] fenrir-z commented on #1333
i can see only one `mir import` command in your ymir_controller.log line 1037, it shows:
[code]

so your repo root is `/home/dssapce/sf/ymir/ymir-workplace/sandbox/0001/000008`

i also notice that you have choosen "Ignore unknown keywords and annotations" when you import this dataset (and mir import xxx --ignore-unknown-types also shows this), and at this time, there're no cat, bowl, spoon and cup

[2022-11-03 14:39] liyi93319 commented on #1333
Removing whole workplace solves the problem. Thank you so much!

[2022-11-03 14:39] #1333 closed, assigned to Zhang-SJ930104

[2022-11-03 14:44] liyi93319 opened #1348 "Is there a way, e.g. a piece of configuration in `.env`, to start ymir with `LABEL_TOOL=None` such that I don't have to type 3 repeatedly?"
**Describe the issue**
Is there a way, e.g. a piece of configuration in `.env`, to start ymir with `LABEL_TOOL=None` such that I don't have to type 3 repeatedly?

![image](https://user-images.githubusercontent.com/43629316/199752285-24d5234e-f105-46c8-890f-95f51e4541b6.png)

[2022-11-04 02:14] fenrir-z commented on #1348
if you REALLY need no label tools, just comment start_label_tool in ymir.sh

[2022-11-04 09:12] huu3301 opened #1350 "标签含有英文分号';'时可能会导致建立标注任务失败"
Describe the bug
1.1.0和2.0.0版本都存在这个问题，就是当添加的标签含有英文分号时可能会导致建立标注任务失败（训练任务可能也有该问题）

To Reproduce
Steps to reproduce the behavior:

1、添加包含;符号的标签（如cdefg;fffaaa）。
2、创建标注任务的时候使用该标签。

会出现CmdExport失败（cmd export时class_names是以;来拆分的），从而创建标注任务失败。
command_run_in_out.py:164: trace: cmd exception: Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/mir/tools/command_run_in_out.py", l

[2022-11-04 12:10] fenrir-z commented on #1350
标注不能含有英文分号

[2022-11-06 11:30] #1350 closed, assigned to nobody

[2022-11-06 11:31] #1348 closed, assigned to Zhang-SJ930104

[2022-11-09 02:31] #1313 closed, assigned to Zhang-SJ930104

[2022-11-17 13:09] duduathz opened #1383 "安装时出现ymir.sh:line26:docker-compose:command not found报错"
**Describe the issue**
安装时出现ymir.sh:line26:docker-compose:command not found报错

**To Reproduce**
Steps to reproduce the behavior:
1. 修改.env ,SERVER_RUNTIME=runc
2. 运行bash ymir.sh start

**Screenshots**
![image](https://user-images.githubusercontent.com/38879734/202454882-62ad56d1-b101-41f6-bd74-d54e28e37024.png)

**Desktop (please complete the following information):**
 - Device:百度云服务器
 - OS: ubunt

[2022-11-17 13:16] #1383 closed, assigned to nobody

[2022-11-24 08:26] George7Iris opened #1409 "注册问题"
您好，我已经将咱们平台部署在腾讯云了，但是注册的时候点击完成注册没有效果，注册不了，是不是和服务器的通信有问题？具体怎么解决呢？

我的邮箱是13520777710@163.com,手机号是13520777710

[2022-11-28 07:09] phoenix-xhuang commented on #1409
可以看下ymir-workplace/ymir-data/logs里面的日志

[2022-11-30 09:11] huu3301 opened #1428 "部分公共镜像推理失败"
Describe the bug
平台版本2.0.1，使用部分公共镜像推理失败。

To Reproduce
Steps to reproduce the behavior:

1、使用公共镜像youdaoyzbx/ymir-executor:ymir2.0.0-nanodet-cu111-tmi或者youdaoyzbx/ymir-executor:ymir2.0.0-mmdet-cu111-tmi （yolov4、yolov5、yolov7、detectron2、vidt镜像无此问题）。
2、训练。
3、训练完之后使用该模型进行推理（默认参数未修改），推理失败（如果GPU个数改成1则推理成功）

Traceback (most recent call last):
  File "ymir_infer.py", line 137, in <module>
    sys.exit(mai